
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <iframe width="620" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ1zwkd5fFGkcRreAgdPKMXSU&key=AIzaSyDqVkHuESN7PfDElGuM3jgk8eQdl-aBpiM" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <div class="col-sm-6">
          <img class="card-img" src="./images/nospr.jpg" alt="Card image" height="220" width="465">
        </div>
        <div class="col-sm-6">
        <h3 class="card-title">Kontakt</h3>
        <p class="card-text">Al. Wolności 2, 62-800 Kalisz</p>
        <p class="card-text"><b>Sala Koncertowa Filharmonii:</b><br> Aula WPA UAM w Kaliszu<br> ul. Nowy Świat 28-30 </p>
        <p class="card-text"><b>Telefon:</b><br> 731-93-092 </p>
           <!-- <a class="btn btn-block btn-social btn-twitter">
    <span class="fa fa-twitter"></span> Sign in with Twitter
  </a> -->
  <a href="https://www.facebook.com/Filharmonia.Kaliska/?fref=ts"  target="_blank">
    <button type="button" class="btn btn-fb"><i class="fa fa-facebook left"></i> Facebook</button>
        </a>
       <!-- <a href="http://maps.google.com/?q=Filharmonia Kaliska, aleja Wolności, Kalisz, Polska"  target="_blank">
    <button type="button" class="btn btn-fb"><i class="fa fa-facebook left"></i> Google maps</button>
        </a> -->
        
        </div>
      </div>
    </div>
  </div>
</div>